/* GuestNotifications.css - Mobile Only */
body {
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.guest-notifications {
  box-sizing: border-box;
  margin: 0 auto;
  /* padding: 35px 35px; */
  border: none;
  border-radius: 0px;
  color: #1c1c1c;
  max-width: 856px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: calc(100vh - 48px);
  background-color: #ffffff;
  margin: 24px auto;
}

.header-container {
  margin: 0 72px;
  padding: 64px 0px 40px 0px;
}

.reference-info {
  margin: 0 72px 24px 72px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.reference-label {
  font-family: Mulish, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.39px;
  color: #1c1c1c;
  padding: 0 16px 0 0;
  border-right: 1px solid rgba(28, 28, 28, 0.2);
}

.reference-label:last-child {
  padding: 0;
  border-right: none;
}

.guest-notifications h1 {
  font-family: "Big Caslon", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  line-height: 46.2px;
  letter-spacing: 0.84px;
  color: #1c1c1c;
  margin: 0 0 32px 0;
}

.guest-notifications h2 {
  font-family: "Big Caslon", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  line-height: 32.4px;
  letter-spacing: 0.54px;
  color: #1c1c1c;
  margin: 0;
}

.guest-notifications h3 {
  font-family: Mulish, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.39px;
  color: #787678;
  margin: 0;
}

.notification-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  /* For flexbox scrolling */

  /* Hide scrollbar for Webkit browsers */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.notification-list::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.notification-item {
  border-bottom: 1px solid rgb(28, 28, 28, 0.2);

  /* Reduced padding */
  transition:
    background-color 0.3s ease,
    text-align 0.3s ease;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 72px;
}

.tender {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  height: 100%;
  border-left: 1px solid rgb(28, 28, 28, 0.2);
  font-family: Mulish, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.39px;
  color: #1c1c1c;
}

.tender-number {
  font-family: BigCaslonCC, "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 27px;
  line-height: 32.4px;
  letter-spacing: 0.54px;
  height: 33px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-message {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  color: var(--Text-Neutral-Primary, #1c1c1c);
  text-overflow: ellipsis;

  /* Body/Default Regular */
  font-family: var(--Typography-Body-Default-fontFamily, Mulish);
  font-size: var(--Typography-Body-Default-fontSize, 16px);
  font-style: normal;
  font-weight: var(--Typography-Variant-Regular, 700);
  line-height: var(--Typography-Body-Default-lineHeight, 24px); /* 150% */
  letter-spacing: var(--Typography-Body-Default-letterSpacing, 0);
  margin: 0;
}

.notification-icon {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.notification-eta {
  color: var(--Text-Neutral-Quaternary, #787678);

  /* Body/Disclaimer */
  font-family: var(--Typography-Body-Disclaimer-fontFamily, Mulish);
  font-size: var(--Typography-Body-Disclaimer-fontSize, 14px);
  font-style: normal;
  font-weight: var(--Typography-Variant-Regular, 400);
  line-height: var(--Typography-Body-Disclaimer-lineHeight, 19.6px); /* 140% */
  letter-spacing: var(--Typography-Body-Disclaimer-letterSpacing, 0);
  margin: 8px 0 0 0;
  min-height: 19.594px;
}

.notification-time {
  color: var(--Text-Neutral-Tertiary, #404040);

  /* Body/Disclaimer */
  font-family: var(--Typography-Body-Disclaimer-fontFamily, Mulish);
  font-size: var(--Typography-Body-Disclaimer-fontSize, 14px);
  font-style: normal;
  font-weight: var(--Typography-Variant-Regular, 400);
  line-height: var(--Typography-Body-Disclaimer-lineHeight, 19.6px); /* 140% */
  letter-spacing: var(--Typography-Body-Disclaimer-letterSpacing, 0);
  margin: 0;
}

/* New Styles for Shoreside and Shipside */

.shoreside-notification {
  background-color: white;
  color: #1c1c1c;
}

.shipside-notification {
  background-color: #e8f1fa;

  color: #1c1c1c;
}

.custom-notification {
  background-color: black;
  text-align: center;
}

.blinking-notification {
  animation: blinker 1s linear 2;
  /* Blink 3 times */
}

.waiting-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.waiting-info h4 {
  font-family: "Big Caslon", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0.48px;
  color: #787678;
  margin: 0;
}

.waiting-info p {
  font-family: Mulish, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #787678;
  margin: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .guest-notifications {
    padding: 20px 15px;
    /* Further reduced padding for mobile */
    margin: 10px;
    /* Further reduced margin for mobile */
    height: calc(100vh - 20px);
  }

  .guest-notifications h1 {
    line-height: 1.1em;
    letter-spacing: 0.05em;
    font-size: 25px;
  }

  .guest-notifications h2 {
    font-weight: 200;
    line-height: 1.2em;
    letter-spacing: 0.05em;

    font-size: 15px;
  }

  .guest-notifications h2 {
    font-weight: 200;
    line-height: 1.2em;
    letter-spacing: 0.05em;

    font-size: 10px;
  }

  .notification-item {
    padding: 8px;
    /* Further reduced padding */
  }

  .notification-message {
    font-size: 12px;
    /* Further reduced font size for mobile */
  }

  .notification-eta {
    font-size: 10px;
  }

  .notification-time {
    font-size: 10px;
    /* Further reduced font size for mobile */
  }

  .feedback-icon-container {
    width: 20px;
    height: 20px;
    right: 15px;
    top: 20px;
    /* Adjusted position for mobile */
  }
}

.map-h2 {
  font-size: 15px !important;
}
